.page-header {
    background-color: #E76C1F;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
}

.hero-image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}

.burger-img {
    height: 200px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Palanquin Dark', sans-serif;
    color: #363634;
}

.headline {
    color: #E76C1F;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
}

.headline-description {
    text-align: center;
    font-family: 'Palanquin', sans-serif;
    color: #363634;
    font-size: 24px;
    font-weight: 700;
}

/* .wrapper{
    max-width: 1440px;
    margin: 0 auto;
} */

.product-list {
    font-family: 'Palanquin', sans-serif;
    display: flex;
    flex-direction: column;
    color: #363634;
}

.color-container {
    background-color: #E76C1F;
}

.seperator-content {
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 0 48px;
    max-width: 1440px;
    margin: 0 auto;
}

#burger-list {
    margin: 32px 0;
}

#pizza-list {
    margin: 32px 0;
}

#salat-list {
    margin: 32px 0;
}

.dish-card{
    display: flex;
    align-items: center;
    padding: 0 48px;
    height: 132px;
    max-width: 1440px;
    margin: 0 auto;
}

.dish-card:nth-child(n) {
    margin-top: 16px;
    margin-bottom: 16px;
}

.meal-container {
    display: flex;
    width: 713px;
    background-color: #FDEADC;
}

.dish-information-container {
    display: flex;
    flex-direction: column;
    width: 469px;
}

.dish-information-container h3 {
    text-align: left;
}

.dish-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.page-footer {
    background-color: #E76C1F;
}

.page-footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 128px;
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
}

.page-footer-content a {
    color: white;
}