.content-limitation {
    max-width: 1440px;
    margin: 0 auto;
}

.page-header{
    width: 100%;
    background-color: #E76C1F;
}

.header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 128px;
}

.main-image{
    width: 100%;
    height: auto;
    display: flex;
}

dialog{
    width: 400px;
    height: 400px;
    background-color: #E76C1F;
    color: white;
}

.burger-logo{
    position: absolute;
}




