.d_none {
    display: none !important;
}

body {
    overflow-x: hidden;
    font-family: 'Palanquin', sans-serif;
}

/* padding: 0px max(calc(50% - 720px), 20px); */

.page-header {
    background-color: #E76C1F;
}

.content-wrapper {
    margin: 0px auto;
    max-width: 1440px;
    position: relative;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    padding: 0 24px;
}

.hero-image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.burger-img {
    position: absolute;
    height: 200px;
    width: 200px;
    object-fit: cover;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
}

.hero-headline-section {
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 56px;
    font-family: 'Palanquin Dark', sans-serif;
    color: #363634;
}

.hero-headline {
    color: #E76C1F;
    font-weight: bold;
}

.rate span {
    color: #726D6D;
    font-size: 14px;
    font-weight: bold;
}

.rate img {
    width: 14px;
}

.headline-description {
    text-align: center;
    font-weight: 700;
    color: #363634;
    font-size: 24px;
    margin-bottom: 24px;
}

.splitt_view_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    width: 100%;
}

.product-list {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #363634;
    font-size: 24px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.food-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.category-banner {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #e76c1f;
}

.seperator-content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 0 20px;
    color: white;
}

.seperator-content h2 {
    font-weight: bold;
    font-size: 40px;
}

.seperator-content span {
    font-weight: normal;
}

.seperator-content p {
    font-size: 40px;
}

.seperator-content img {
    height: 91px;
}

.food-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 24px;
    padding: 20px;
    max-width: 1000px;
}

.dish-headline {
    font-size: 24px;
}

.dish-cart {
    display: flex;
    flex-direction: row;
    background-color: #fdeadc;
    border-radius: 12px;
    gap: 10px;
    padding: 15px;
    align-items: stretch;
}

.dish-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.dish-information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dish-information-container h3 {
    text-align: left;
}

.dish-description {
    font-size: 16px;
    font-weight: 400;
}

.dish-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    width: 100%;
}

.dish-price p {
    text-align: right;
}

.page-footer {
    background-color: #E76C1F;
}

.page-footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 128px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
}

.page-footer-content a {
    color: #FDEADC;
}

footer {
    width: 100%;
}

.nav-bar {
    display: none;
}