.basket-container {
    width: 435px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.basket-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    /* Falls der Inhalt untereinander soll */
    border-radius: 32px 0 0 32px;
    background-color: #363534;
    padding: 16px;
}

.basket {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 400px;
    top: 0;
    background-color: #363534;
    color: white;
    padding: 0 16px 16px 24px;
    border-radius: 30px 0 0 30px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#basket-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, .35) rgba(0, 0, 0, .15);
}

.basket-headline {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
    color: #FDEADC;
}

.empty-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.empty-basket div {
    padding-top: 64px;
}

.basket-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FDEADC;
    margin-bottom: 16px;
    padding: 18px;
    border-radius: 24px;
    color: #363534;
    font-weight: bold;
    justify-content: center;
}

.basket-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.basket-item-details h3 {
    font-size: 20px;
}

.basket-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-controls h3 {
    font-size: 24px;
}

.basket-counter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.control-btn {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: 'Palanquin', sans-serif;
    padding: 0;
    align-items: flex-end;
}

.trash-icon img {
    height: 20px;
    width: 20px;
}

.amount-display {
    text-align: center;
    line-height: 30px;
}

.totals {
    font-size: 20px;
    font-family: 'Palanquin', sans-serif;
}

.basket-text {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.calculated-price p {
    text-align: right;
}

.border {
    border-bottom: 2px solid white;
}

.order-btn {
    margin-top: 8px;
    color: white;
    background-color: #E76C1F;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    border-radius: 16px;
    font-size: 32px;
    width: 100%;
}