.basket-wrapper {
    width: 435px;
    height: 794px;
    background-color: #363534;
    color:  #FDEADC;
    border-radius: 30px 0 0 30px;
    padding: 24px;
    font-family: 'Palanquin', sans-serif;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 16px;
}

.basket-item{
    background-color: #FDEADC;
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 24px;
    color: #363534;
    font-weight: bold;
}

.basket-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

