.d_none {
    display: none;
}

.basket-container {
    width: 435px;
    height: 794px;
    background-color: #363534;
    color: #FDEADC;
    top: 50%;
    left: 60%;
    border-radius: 30px 0 0 30px;
    padding: 24px;
    font-family: 'Palanquin', sans-serif;
    position: sticky;
}
