*{
    box-sizing: border-box;
    color: #fdeadc;
}

body {
    height: 100vh;
    background-color: #fdeadc;
    display: flex;
    justify-content: center;
}

.cookie-styling{
    background-color: #e76c1f;
    width: 600px;
    height: 200px;
    border-radius: 16px;
    padding: 24px;
}

h1{
    text-align: center;
}

button{
    color: black;
}