.dialog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
}

dialog {
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 32px;
    background: transparent;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    /* Optional: macht den Hintergrund leicht unscharf */
}

.overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: none;
    border-radius: 32px;
    padding: 24px;

    background-color: #363534;
    font-family: 'Palanquin_700', sans-serif;
    color: #FDEADC;
}

dialog h2 {
    font-size: 40px;
    font-weight: bold;
}

dialog p {
    font-size: 32px;
}

.x-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.x-btn-container button {
    color: white;
}

.dialog-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 440px;
}

.order-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}