* {
    margin: 0;
    border-radius: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Palanquin', sans-serif;
}

h1 {
    font-size: 48px;
    color: #fdeadc;
}

h2 {
    font-size: 32px;
}

h3 {
    text-decoration: underline;
    font-size: 24px;
}

body {
    height: 100vh;
    background-color: #fdeadc;
}

.generator-user {
    font-size: 24px;
    font-weight: bold;
}

a {
    color: white;
    font-weight: bold;
}

.generator_results {
    display: flex;
    justify-content: center;
}

#generator_results_content {
    text-align: center;
    background-color: #e76c1f;
    color: #fdeadc;
    width: 900px;
    height: 1000px;
}