* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    
}

button {
    cursor: pointer;
}

span {
    text-transform: none;
}
